# Add requirements and bounds that are missing from Odoo's setup.py.
freezegun
lxml-html-clean
num2words
pdfminer
pypdf2<3
rl-renderPM  # reportlab accelerator
xlrd<2  # xlrd 2 dropped xlsx reading capability

# We use no-binary for psycopg2 because its binary wheels are sometimes broken
# and not very portable.
--no-binary psycopg2

# other test requirements
coverage
websocket-client
