name: ci

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 4 * * *"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python_version: "3.10"
            codename: jammy
            odoo_version: "17.0"
            odoo_org_repo: "EMAS-Solutions/odoo"
            image_name: py3.10-odoo17.0

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: odoo
          POSTGRES_PASSWORD: odoo
          POSTGRES_DB: odoo
        ports:
          - 5432:5432

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: genisemas
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          build-args: |
            codename=${{ matrix.codename }}
            python_version=${{ matrix.python_version }}
            odoo_version=${{ matrix.odoo_version }}
            odoo_org_repo=${{ matrix.odoo_org_repo }}
            setuptools_constraint=${{ matrix.setuptools_constraint }}
          tags: |
            ghcr.io/genisemas/oca-ci/${{ matrix.image_name }}:latest
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
          cache-from: type=registry,ref=ghcr.io/genisemas/oca-ci/${{ matrix.image_name }}:latest
          cache-to: type=local,dest=/tmp/.buildx-cache
          load: true

      - name: Run Tests
        run: |
          docker run --rm -v ${PWD}/tests:/mnt/tests --network=host -e PGHOST=localhost \
            ghcr.io/genisemas/oca-ci/${{ matrix.image_name }}:latest \
            /mnt/tests/runtests.sh -v
        if: ${{ matrix.odoo_version != '8.0' && matrix.odoo_version != '9.0' }}

      - name: Push Docker Image to GHCR
        uses: docker/build-push-action@v6
        with:
          build-args: |
            codename=${{ matrix.codename }}
            python_version=${{ matrix.python_version }}
            odoo_version=${{ matrix.odoo_version }}
            odoo_org_repo=${{ matrix.odoo_org_repo }}
            setuptools_constraint=${{ matrix.setuptools_constraint }}
          tags: |
            ghcr.io/genisemas/oca-ci/${{ matrix.image_name }}:latest
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=inline
          push: true
        if: ${{ github.ref == 'refs/heads/master' }}
